%horizontalMenu {
  display: flex;
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    border-right: 1px dotted currentColor;
    padding: 0 0.5rem;
  }

  li:first-child {
    padding-left: 0;
  }

  li:last-child {
    border: none;
    padding-right: 0;
  }
}

