@use 'sizes';
@use 'palette';
@use 'widgets';

body > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.5rem 0;
  color: palette.$aside;
  font-size: sizes.$miniFont;

  & > * {
    min-width: fit-content;
    margin: 0 0.5rem;
  }

  nav menu {
    @extend %horizontalMenu;
  }

  nav menu a {
    color: palette.$aside;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

@media not all and (min-width: sizes.$desktopWidthMin) {
  body > footer {
    justify-content: center;
  }
}
