<div id="header-post">
  <span id="menu">
    <div id="nav">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" href=" {{ .Prev.Permalink }}" title="Poprzedni post">
            <i class="fas fa-chevron-left" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" href="{{ .Next.Permalink }}" title="Następny post">
            <i class="fas fa-chevron-right" aria-hidden="true"></i>
          </a>
        </li>
        {{ end }}
        <li>
          <a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" title="Przewiń do góry">
            <i class="fas fa-chevron-up" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <div id="toc">
      {{ .TableOfContents }}
    </div>
  </span>
</div>
