<div id="header-post">
  <span id="menu">
    <div id="nav">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </div>
    <div id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" href=" {{ .Prev.Permalink }}" title="Poprzedni post"></a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" href="{{ .Next.Permalink }}" title="Następny post"></a>
        </li>
        {{ end }}
        <li>
          <a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" title="Przewiń do góry"></a>
        </li>
      </ul>
    </div>
    <div id="toc">
      {{ .TableOfContents }}
    </div>
  </span>
</div>
